{% extends 'musicbeats/basic.htm' %}
{% block title %}MusicBeats{% endblock %}

{% block body %}
{% load static %}
<h1 style="color: rgb(60, 60, 158); text-align: center;">Your Favourite Songs</h1>

{% if song|length < 1 %}
    <h3 style="text-align: center; padding-top: 5%;">No song in Favourites</h3>
{% else %}
<div class="container">
    {% for i in song reversed %}
    <div class="card mb-3" style="max-width: 940px; padding-top: 0%;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/media/{{i.image}}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="color: green; font-weight: 550;">{{i.name}}</h5>
                    <p class="card-text">Tags: {{i.tags}}</p>
                    <p class="card-text">Movie: {{i.movie}}</p>
                    <a href="/musicbeats/songs/{{i.song_id}}">
                        <button class="btn btn-outline-danger">Listen Song</button>
                    </a>
                    <!-- Nút Remove -->
                    <form method="POST" action="{% url 'remove_favourite' i.song_id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-secondary btn-sm ml-2">Remove</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}